<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }} - Save Lives</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="../public/build/css/main.css"> -->
  <link rel="stylesheet" href="./css/main.css">

  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="//use.typekit.net/cxj3txx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <header class="main-header">
    <div class="wrap">
      <h1 class="logo">SaveLives</h1>
    </div>
  </header>

  <div class="main-content">

    <div class="blood-hero">

      <div class="wrap">
        <h2 class="title">Quem tem iniciativa de doar sangue se transforma em um herói, pois <span>salva vidas</span>.</h2>
        <p>Doar sangue é simples e seguro, e não expõe o doador a qualquer risco de contaminação.</p>
        <p>Todo material utilizado é descartável, e o volume de sangue coletado, cerca de 450ml é rapidamente reposto pelo organismo do doador.</p>
      </div>

    </div>

    <div class="blood-who-can">
      <div class="wrap">
        <h2 class="title">Quem pode doar?</h2>
        <ul>
          <li>Idade entre 16 e 69 anos (jovens de 16 ou 17 anos devem estar acompanhados por um responsável legal)</li>
          <li>Idade máxima de 60 anos para a primeira doação</li>
          <li>Peso superior a 50Kg</li>
          <li>Boas condições de saúde</li>
          <li>Estar alimentado</li>
          <li>Portar documento com foto, expedido por órgão oficial</li>
        </ul>
      </div>
    </div>

    <div class="blood-who-cant">
      <div class="wrap">
        <h2 class="title">Quem não pode doar?</h2>
        <ul>
          <li>Pessoas que realizaram cirurgias recentemente</li>
          <li>Pessoas em jejum prolongado ou que tenham ingerido alimentos gordurosos nas últimas 4 horas</li>
          <li>Pessoas que tenham ingerido bebida alcoólica há menos de 12 horas</li>
          <li>Peassoas que fizeram endoscopia nos últimos 6 meses</li>
          <li>Pessoas que fizeram tatuagem ou piercing nos últimos 6 meses</li>
          <li>Pessoas que tiveram gripe ou febre nos últimos 7 dias</li>
          <li>Pessoas que tiveram Hepatite Viral após os 11 anos de idade</li>
          <li>Mulheres grávidas ou amamentando</li>
          <li>Usuários de determinados medicamentos ou drogas</li>
          <li>Pessoas que tiveram contato sexual com múltiplos parceiros nos últimos 12 meses</li>
          <li>Pessoas que tenham dormido menos de 6 horas na noite anterior à doação</li>
          <li>Pessoas que fizeram tratamento dentário sem anestesia nos últimos 3 dias, ou com anestesia nos últimos 7 dias</li>
        </ul>
      </div>
    </div>

    <div class="blood-gender">

      <div class="wrap">
        <div class="bg-alpha blood-gender-women">
          <h3 class="sub-title">Mulheres ♀</h3>
          <p>Podem doar sangue num intervalo mínimo de 3 meses, não ultrapassando 3 doações por ano.</p>
        </div>

        <div class="bg-alpha blood-gender-men">
          <h3 class="sub-title">Homens ♂</h3>
          <p>Podem doar sangue num intervalor mínimo de 2 meses, não ultrapassando 4 doações por ano.</p>
        </div>
      </div>

    </div>

    <div class="blood-window-period">
      <div class="wrap">
        <h2 class="title">O que é janela imunológica?</h2>
        <p>Embora realizados exames no sangue coletado (Hepatite, Sífilis, Doença de Chagas, HIV e outros), não existem 100% de segurança para o receptor. Há um período chamado <strong>Janela Imunológica</strong>, que é o espaço de tempo entre a contaminação e a positividade do teste, significando que a pessoa pode ter sido contaminada por um agente infeccioso (vírus) e este agente não foi detectado nos exames realizados. Por isso, é fundamental que você seja sincero na entrevista. Honestidade também salva vidas!</p>
        <h2 class="title">Doar sangue é um ato de generosidade, mas também precisa ser um ato de responsabilidade.</h2>
      </div>
    </div>

    <div class="soon">
      <div class="wrap">
        <h3 class="title">Aguarde, em breve novidades.</h3>
      </div>
    </div>

  </div>

  <footer class="main-footer">
    <div class="wrap">
      <h2 class="title">Apoio</h2>
      <section class="sponsors">
        <a  class="alkaw" href="http://alkaw.com" target="_blank"><img src="./img/alkaw-logo.jpg" alt="Alkaw"></a>
      </section>
      <small class="copyright">2014 &copy; SaveLives</small>
    </div>
  </footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50202120-1', 'saveliv.es');
  ga('send', 'pageview');

</script>

</body>
</html>