/*------------------------------------*\
  Index
\*------------------------------------*/

html {
  font-size: 16px;
  @media all and (max-width: 40em) {
    font-size: 12px;
  }
}

body {
  background: $white;
  font-family: "proxima-nova-soft", sans-serif;
}

.main-content {
  .wrap {
    margin: 150px auto;
  }
}

.sub-title {
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
}

.title {
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  span {
    font-style: italic;
  }
}

.blood-hero {
  background: $white;
  color: $blood-puddle;
  @extend .pad;
  .title {
    color: $fresh-blood;
  }
}

.blood-who-can {
  background: $fresh-blood;
  color: $pale-skin;
  @extend .pad;
  .title {
    color: $pale-skin;
  }
}

.blood-who-cant {
  background: $pale-shadow;
  color: $dark-blood;
  @extend .pad;
}

.blood-gender {
  color: $goto;
  @extend .pad;
}

.blood-gender-women {
  margin-bottom: 60px;
}

.blood-window-period {
  background: $fresh-blood;
  color: $white;
  @extend .pad;
}

.soon {
  background: $deep;
  color: $white;
  @extend .pad;
}

.main-footer {
  background: $white;
  color: $deep;
  @extend .pad;
}

.sponsors {
  margin: 50px 0;
  img {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 150px;
  }
}

.copyright {
  display: block;
  text-align: center;
}