/*------------------------------------*\
  Colors
\*------------------------------------*/

// Opt1
$dark-blood: #460702;
$blood-puddle: #78040D;
$pale-shadow: #C3B3A6;
$pale-skin: #EDE8E2;
$fresh-blood: #CC141C;

// Opt2
$goto: #807D7D;
$white: #FFF;
$bent-red: #DE0404;
$tb-dark: #8C0404;
$current-s: #050101;